<!-- navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand" href="#">Web-crawler</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/about">about Us</a>
    <a class="nav-item nav-link" routerLink="/contact">Contact</a>
    <button class="btn btn-outline-danger my-2 my-sm-0 justify-content-center float-name" (click)="logout()">
      Logout {{ currentUser.firstName }} {{ currentUser.lastName }}
    </button>
  </div>
</nav>

<!-- main content container-->
<div class="jumbotron">
  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
