<div class="row">
  <div class="col-sm-8">
    <h5 class="card-title">
      Bar Graph Representing scale of each Programing Language
    </h5>
    <app-chart></app-chart>
  </div>

  <div class="col-sm-4">
    <h5 class="card-title">websites been Checked</h5>
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action">
        Dapibus ac facilisis in
      </button>
      <button type="button" class="list-group-item list-group-item-action">
        Morbi leo risus
      </button>
      <button type="button" class="list-group-item list-group-item-action">
        Porta ac consectetur ac
      </button>
    </div>
  </div>
</div>

<div class="container">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
    
                    <!-- CUSTOM BLOCKQUOTE -->
                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                        <p class="mb-0 mt-2 font-italic">"Every great innovation or accomplishment was once an idea which the originator/inventor chose to pursue passionately and it came to fullfilment."</p>
                        
                    </blockquote><!-- END -->
    
                </div>
            </div>
        </div>
    </section>
    
</div>
